In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [7]:

# Solution 1

chipo.shape[0]  # entries <= 4622 observations

4622

In [8]:
# Solution 2

chipo.info() # entries <= 4622 observations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [12]:
chipo.shape[1]

5

In [13]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [14]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [33]:
b = chipo.groupby('item_name')
b = c.sum()
b = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity  item_price
item_name
Chicken Bowl    713926       761     7342.73

In [40]:
b = chipo.groupby('item_name')
b = c.sum()
b = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity  item_price  revenue
item_name
Chicken Bowl    713926       761     7342.73  8044.63

In [41]:
b = chipo.groupby('choice_description')
b = c.sum()
b = c.sort_values(['quantity'], ascending=False)
c.head(1)
# Diet Coke, 159

              order_id  quantity  item_price  revenue
item_name
Chicken Bowl    713926       761     7342.73  8044.63

In [21]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

In [22]:
chipo.item_price.dtype

dtype('O')

In [24]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

In [25]:
chipo.item_price.dtype

dtype('float64')

In [26]:
revenue = (chipo['quantity']* chipo['item_price']).sum()

print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

In [36]:
orders = chipo.order_id.value_counts().count()
orders

1834

In [46]:
# Solution 1

chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id'])['revenue'].sum()
order_grouped.mean()

21.39423118865867

In [45]:
# Solution 2
chipo.groupby(by=['order_id'])['revenue'].sum().mean()

21.39423118865867

In [43]:
chipo.item_name.value_counts().count()

50