In [5]:
import pandas as pd
import numpy as np

In [8]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

In [20]:
#How many products cost more than $10.00? Sol 2 

# No need to clean the item_price column again if it's already converted to floats
# prices = [float(value[1 : -1]) for value in chipo.item_price]
# chipo.item_price = prices

# Delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(['item_name', 'quantity', 'choice_description'])

# Select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]

# Count the number of products that cost more than $10.00
count_products_over_10 = chipo_one_prod[chipo_one_prod['item_price'] > 10.00].item_name.nunique()

print(count_products_over_10)

25

In [14]:
#How many products cost more than $10.00? Sol 1

# Filter the products that cost more than $10.00
products_over_10 = chipo[chipo['item_price'] > 10.00]

# Get the count of products that cost more than $10.00
count_products_over_10 = products_over_10['item_name'].nunique()

print(count_products_over_10)

31

In [21]:
#. What is the price of each item?

chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)]

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75

In [26]:
# Filter the DataFrame to include only items with quantity equals to 1
chipo_one_prod = chipo[chipo['quantity'] == 1]

# Remove duplicates based on 'item_name' and 'item_price' columns
unique_items_prices = chipo_one_prod.drop_duplicates(['item_name', 'item_price'])

# Select only the 'item_name' and 'item_price' columns
item_prices = unique_items_prices[['item_name', 'item_price']]

print(item_prices)

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
5                              Chicken Bowl       10.98
...                                     ...         ...
3750                         Carnitas Salad        8.99
3989                          Chicken Salad        8.19
4235                           Chicken Bowl        8.50
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[135 rows x 2 columns]

In [36]:
#Sort by the name of the item

chipo.item_name.sort_values()

# OR

chipo.sort_values(by = "item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

In [37]:
# Sort the DataFrame by 'item_name' in ascending order
sorted_chipo = chipo.sort_values(by="item_name")

print(sorted_chipo)

      order_id  quantity          item_name  \
3389      1360         2  6 Pack Soft Drink
341        148         1  6 Pack Soft Drink
1849       749         1  6 Pack Soft Drink
1860       754         1  6 Pack Soft Drink
2713      1076         1  6 Pack Soft Drink
...        ...       ...                ...
2384       948         1  Veggie Soft Tacos
781        322         1  Veggie Soft Tacos
2851      1132         1  Veggie Soft Tacos
1699       688         1  Veggie Soft Tacos
1395       567         1  Veggie Soft Tacos

                                     choice_description  item_price
3389                                        [Diet Coke]       12.98
341                                         [Diet Coke]        6.49
1849                                             [Coke]        6.49
1860                                        [Diet Coke]        6.49
2713                                             [Coke]        6.49
...                                                 ...         ...
2384  [Roasted Chili Corn Salsa, [Fajita Vegetables,...        8.75
781   [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...        8.75
2851  [Roasted Chili Corn Salsa (Medium), [Black Bea...        8.49
1699  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
1395  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...        8.49

[4622 rows x 5 columns]

In [38]:
#What was the quantity of the most expensive item ordered?

chipo.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [39]:
# Sort the DataFrame by 'item_price' in descending order to get the most expensive item first
most_expensive_item = chipo.sort_values(by="item_price", ascending=False).head(1)

# Get the quantity of the most expensive item ordered
quantity_of_most_expensive_item = most_expensive_item['quantity'].values[0]

print(quantity_of_most_expensive_item)

15

In [44]:
#How many times was a Veggie Salad Bowl ordered?

In [41]:
# Create a subset of 'chipo' containing only the rows where 'item_name' is "Veggie Salad Bowl"
chipo_salad = chipo[chipo['item_name'] == "Veggie Salad Bowl"]

# Get the number of times Veggie Salad Bowl was ordered
num_times_ordered = len(chipo_salad)

print(num_times_ordered)

18

In [46]:
# How many times did someone order more than one Canned Soda?

In [43]:
# Create a subset of 'chipo' containing only the rows where 'item_name' is "Canned Soda" and 'quantity' is greater than 1
chipo_more_than_one_soda = chipo[(chipo['item_name'] == "Canned Soda") & (chipo['quantity'] > 1)]

# Get the number of times someone ordered more than one Canned Soda
num_times_more_than_one_soda = len(chipo_more_than_one_soda)

print(num_times_more_than_one_soda)

20

In [47]:
# Create a subset of 'chipo' containing only the rows where 'item_name' is "Canned Soda" and 'quantity' is greater than 1
chipo_more_than_one_soda = chipo[(chipo['item_name'] == "Canned Soda") & (chipo['quantity'] > 1)]

# Get the number of times someone ordered more than one Canned Soda
num_times_more_than_one_soda_ordered = len(chipo_more_than_one_soda)

# Get the types of soda that were ordered more than once
types_of_soda = chipo_more_than_one_soda['choice_description'].unique()

print("Number of times someone ordered more than one Canned Soda:", num_times_more_than_one_soda_ordered)
print("Types of soda ordered more than once:", types_of_soda)

Number of times someone ordered more than one Canned Soda: 20
Types of soda ordered more than once: ['[Sprite]' '[Mountain Dew]' '[Diet Coke]' '[Diet Dr. Pepper]'
 '[Coca Cola]' '[Dr. Pepper]']