In [1]:
import pandas as pd

In [2]:
#Step 2. Create a data dictionary

raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

In [6]:
#Step 3. Assign it to a variable called pokemon

pokemon = pd.DataFrame(raw_data)
pokemon

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

In [18]:
#Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place the order of the columns as name, type, hp, evolution, pokedex

pokemon = pokemon.sort_values(by=['name', 'type', 'hp', 'evolution', 'pokedex'])
pokemon

         name   type  hp   evolution pokedex               place
0   Bulbasaur  grass  45     Ivysaur     yes      Forest of Dean
3    Caterpie    bug  45     Metapod      no     Ashridge Estate
1  Charmander   fire  39  Charmeleon      no  Lake Pontchartrain
2    Squirtle  water  44   Wartortle     yes       Gwydir Forest

In [16]:
#Step 5. Add another column called place, and insert what you have in mind.

pokemon['place'] = ['Forest of Dean','Ashridge Estate','Lake Pontchartrain','Gwydir Forest']
pokemon

         name   type  hp   evolution pokedex               place
0   Bulbasaur  grass  45     Ivysaur     yes      Forest of Dean
3    Caterpie    bug  45     Metapod      no     Ashridge Estate
1  Charmander   fire  39  Charmeleon      no  Lake Pontchartrain
2    Squirtle  water  44   Wartortle     yes       Gwydir Forest

In [20]:
#Step 6. Present the type of each column


pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

In [22]:
#BONUS: Create your own question and answer it.

#what is the average. hp of the Pokemon in this dataset

average_hp_pokedex = pokemon[pokemon['pokedex'] == 'yes']['hp'].mean()
print("Average HP of Pokemon in the Pokedex:", average_hp_pokedex)

Average HP of Pokemon in the Pokedex: 44.5