In [1]:
#step 1
import pandas as pd

In [2]:
#step 3
url = 'https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv'
df = pd.read_csv(url)
df.head()

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
3,2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
4,2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

step 4
This dataframe has a frequency on a weekly basis

In [3]:
#step 5
df = df.set_index('Date').head()

In [5]:
#step 6
print(type(df.index))

<class 'pandas.core.indexes.base.Index'>

In [7]:
#step 7
new_index = pd.to_datetime(df.index)
df = df.set_index(new_index)
index_type = type(df.index)
print(type(df.index))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [8]:
#step 8
monthly = df.groupby(pd.Grouper(freq='M')).sum()
print(monthly)

            Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  \
Date
2012-12-31        -26156           -23126         -3031     526        9848
2013-01-31        -11156            -9622         -1533    -158        2383

            Taxable Bond  Municipal Bond  Total
Date
2012-12-31         12613           -2765 -15782
2013-01-31          2103             280  -8931

In [11]:
#step 9
monthly = df.groupby(pd.Grouper(freq='M')).sum().dropna().reset_index(drop=True)
print(monthly)

   Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  \
0        -26156           -23126         -3031     526        9848
1        -11156            -9622         -1533    -158        2383

   Taxable Bond  Municipal Bond  Total
0         12613           -2765 -15782
1          2103             280  -8931

In [14]:
#step 10
monthly.index = pd.to_datetime(monthly.index)
year = monthly.resample('AS-JAN').sum()
print(year)

            Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  \
1970-01-01        -37312           -32748         -4564     368       12231

            Taxable Bond  Municipal Bond  Total
1970-01-01         14716           -2485 -24713