In [2]:
#step 1

import pandas as pd
import numpy as np

In [3]:
#step 3

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = pd.read_csv(url)

iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [4]:
#step 4

iris.columns = ['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width', 'Class']

print(iris.head())

   Sepal Length  Sepal Width  Petal Length  Petal Width        Class
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

In [5]:
#step 5

missing_values = iris.isna().sum()

print(missing_values)

Sepal Length    0
Sepal Width     0
Petal Length    0
Petal Width     0
Class           0
dtype: int64

In [6]:
#step 6

iris.loc[10:29, 'Petal Length'] = np.nan

print(iris.head(20))

    Sepal Length  Sepal Width  Petal Length  Petal Width        Class
0            4.9          3.0           1.4          0.2  Iris-setosa
1            4.7          3.2           1.3          0.2  Iris-setosa
2            4.6          3.1           1.5          0.2  Iris-setosa
3            5.0          3.6           1.4          0.2  Iris-setosa
4            5.4          3.9           1.7          0.4  Iris-setosa
5            4.6          3.4           1.4          0.3  Iris-setosa
6            5.0          3.4           1.5          0.2  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
8            4.9          3.1           1.5          0.1  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
10           4.8          3.4           NaN          0.2  Iris-setosa
11           4.8          3.0           NaN          0.1  Iris-setosa
12           4.3          3.0           NaN          0.1  Iris-setosa
13           5.8          4.0           NaN          0.2  Iris-setosa
14           5.7          4.4           NaN          0.4  Iris-setosa
15           5.4          3.9           NaN          0.4  Iris-setosa
16           5.1          3.5           NaN          0.3  Iris-setosa
17           5.7          3.8           NaN          0.3  Iris-setosa
18           5.1          3.8           NaN          0.3  Iris-setosa
19           5.4          3.4           NaN          0.2  Iris-setosa

In [7]:
#step 7

filled_iris = iris.copy()
filled_iris['Petal Length'].fillna(1, inplace=True)

print(filled_iris)

     Sepal Length  Sepal Width  Petal Length  Petal Width           Class
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

In [8]:
#step 8

iris_without_class = iris.drop(columns=['Class'])

print(iris_without_class.head())

   Sepal Length  Sepal Width  Petal Length  Petal Width
0           4.9          3.0           1.4          0.2
1           4.7          3.2           1.3          0.2
2           4.6          3.1           1.5          0.2
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4

In [9]:
#step 9

iris.iloc[:3, :] = np.nan

print(iris.head())

   Sepal Length  Sepal Width  Petal Length  Petal Width        Class
0           NaN          NaN           NaN          NaN          NaN
1           NaN          NaN           NaN          NaN          NaN
2           NaN          NaN           NaN          NaN          NaN
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

In [10]:
#step 10

iris_filtered = iris.dropna()

print(iris_filtered.head())

   Sepal Length  Sepal Width  Petal Length  Petal Width        Class
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa
5           4.6          3.4           1.4          0.3  Iris-setosa
6           5.0          3.4           1.5          0.2  Iris-setosa
7           4.4          2.9           1.4          0.2  Iris-setosa

In [12]:
#step 11

iris = iris.reset_index(drop = True)

print(iris.head())

   Sepal Length  Sepal Width  Petal Length  Petal Width        Class
0           NaN          NaN           NaN          NaN          NaN
1           NaN          NaN           NaN          NaN          NaN
2           NaN          NaN           NaN          NaN          NaN
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

In [15]:
#step 12

#What is the average Sepal Length for each class?

average_sepal_length = iris.groupby('Class')['Sepal Length'].mean()

print(average_sepal_length)

Class
Iris-setosa        5.021739
Iris-versicolor    5.936000
Iris-virginica     6.588000
Name: Sepal Length, dtype: float64